* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    box-sizing: border-box;
    font-family: 'Technology',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.4rem;
    background-color: black;
    color: white;
    word-break: keep-all;
    cursor: default;
    height: 100vh;
}

.canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1300px;
    height: 920px;
    background-image: url('./images/las-vegas2.png');
    background-color: black;
    background-size: 1300px;
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

h1 {
    font-size: 17rem;
    font-weight: 900;
    color: #fff;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em #1da9cc;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.005em);
}

h5 {
    font-size: 7rem;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em #1da9cc;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.005em);
    margin-bottom: -2rem;
}

h4 {
    text-align: right;
    font-size: 5rem;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.02em;
    /* text-transform: uppercase; */
    text-shadow: 0 0 0.15em #1da9cc;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.005em);
    margin-top: -1rem;
}

marquee {
    color: #fff;
    letter-spacing: 0.02em;
    text-shadow: 0 0 0.2em #1da9cc;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
}

a {
    color: white;
}


#top {
    position: absolute;
    top: 25px;
}

#bottom {
    position: absolute;
    bottom: 25px;
}